.navigation{
    height: 8%;
}
.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #000;
    margin: 0;
    padding: 1em 2em 0;
    height: 6rem;
}

.nav-li{
    list-style: none;
    padding-right: 2em;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.nav-category{
    text-decoration: none;
}
