.categories-list{
    list-style-type: none;
    width: 200px;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #282828;
    margin: 4px 4px;
    border-radius: 15px;
    font-weight: 700;
}
.categories-link{
    text-decoration: none;
    color: white;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    padding: 3em;
    margin: 0px auto;
    justify-content: center;
}
.categories-title{
   color : whit ;
    font-size : 3em ;
    margin-top: 1em;
}
.pic-categories{
    width: 80%;
    height: 50%;
    margin: 16px;
}