.category-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 2em;
}
.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 2.5em;
}
.category-link{
    text-decoration: none;
    color: white;
}
.category-list{
    list-style-type: none;
    width: 220px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #282828;
    margin: 4px 4px;
    border-radius: 15px;
    font-weight: 700;
}
.category-icon{
    height: 80%;
    width: 50%;
    border-radius: 15px;
    position: fixed;
    top: 5.3em;
    display: flex;
    flex-wrap: wrap;
}
.playlist-icon{
    height: 80%;
    width: 50%;
    border-radius: 15px;
    position: fixed;
    top: 3.3em;
    right: 1em;
    display: flex;
    flex-wrap: wrap;
}
.category-pic{
    width: 90%;
    height: 50%;
}
.category-title{
    font-weight: 700;
    text-align: left;
    margin-left: 1em;
    margin-top: 1.2em;
}
.category-description{
margin: 16px;
}
.category-name{
    text-align: left;
    margin-bottom: 10px;
}
.category-tagline{
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    width: 180px;
    height: 3em;
    overflow: hidden;
}