.player-pic{
    width: 14em;
    height: 14em;
}
.player-container{
    display: flex;
    flex-direction: row;
    margin: 3em 3em
}
.player{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 3em;
    text-align: left;
    width: 50%;
}
.player-list{
    list-style-type: none;
}
.player-link{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}
.player-icon{

}
.player-pic{
    width: 17em;
    height: 18em;
}
.player-label{
    font-size: 1.2em;
}
.player-name{
    font-weight: 700;
}
.player-title{
    width: 14em;
    text-align: left;
}