.playlist-list{
    list-style-type: none;
    width: 200px;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #282828;
    margin: 8px 8px;
    border-radius: 15px;
    font-weight: 700;
}