.dashboardGrid{
    display: grid;
    width: 100%;
    height: 90%;
    grid-template-columns: 230px auto;
    grid-template-rows: auto 85px;
    grid-template-areas:
        'sidebar main'
        'player player';
}
.dashboardMain{
    grid-area: main;
    background-color: #111;
}
.dashboardSidebar{
    grid-area: sidebar;
    background-color: #000;
}
.dashboardPlayer{
    grid-area: player;
    background-color: #333;
    position: fixed;
    bottom: 0;
    height: 12%;
    width: 100%;
}
.icon-container{
    margin-left: 1.5em;
}
.item-container{
    margin-left: 1.5em;
    display: flex;
    flex-direction: column;
}
.icon{
    color: #777;
    display: flex;
    margin-bottom: -1.5em;
}
.spotify{
    color: white;
    margin: 1.5em;
}
.title{
    font-size: 1em;
    margin: 0;
    text-align: left;
    margin-left: 2em;
    font-weight: 600;
}
.wrapper{
    color: #bbb;
    margin-bottom: 1em;
    text-decoration: none;
}
.wrapper:hover{
color: white;
cursor: pointer;
}
