/* .Link-ws{
  color: white;
  border: 1px solid white;
  padding: 1em 2em;
  font-family: sans-serif;
    text-decoration: none;

  }
  .btnLogin-ws{
    background-color: transparent;
    min-width: 200px;
    border: 5px black solid;
    color: black;
  }
  .btnLogin-ws:hover{
    cursor: pointer;
  }
     */